* {
    margin: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  .navbar {
    width: 100%;
    height: 50px;
    background-color: black;
    position: sticky;
    top: 0;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;
  }
  
  .logo-container {
    flex: 1;
  }
  
  .logo {
    font-size: 30px;
    color: #4dbf00;
  }
  
  .menu-container {
    flex: 6;
  }
  
  .menu-list {
    display: flex;
    list-style: none;
  }
  
  .menu-list-item {
    margin-right: 30px;
  }
  
  .menu-list-item.active {
    font-size: large;
    font-weight: bold;
  }
  .menu-list-item.active a{
    text-decoration: none;
  }
  .menu-list-item.active a:link{
    color: white;
  }
  .menu-list-item.active a:visited{
    color: white;
  }
  .menu-list-item a{
    text-decoration: none;
  }
  .menu-list-item a:link{
    color: white;
  }
  .menu-list-item a:visited{
    color: white;
  }
  .profile-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .profile-text-container {
    margin: 0 20px;
    font-weight: bold;
  }

  .profile-text{
    text-decoration: none;
  }

  .profile-text:link{
    color: white;
  }
  .profile-text:visited{
    color: white;
  }
  .profile-text:hover{
    color: yellow;
  }
  
  .profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    padding: 5px;
  }

    .sidebar {
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }
  
  .left-menu-icon {
    color: white;
    font-size: 25px;
    margin-bottom: 40px;
  }
  
  .container {
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white;
    height: 150%;
  }
  
  .content-container {
    margin-left: 50px;
  }
  .contact{
    position: relative;
    min-height: 100vh;
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -60px;
  }
  .contact .content h2{
    font-size: 36px;
    color: turquoise;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .container0{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  .container0 .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .container0 .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
  }
  .container0.contactInfo.box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    font-size: 22px;
  }
  .container0 .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
  }
  .container0 .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
  }
  .contactForm{
    width: 40%;
    padding: 70px;
    background: #fff;
    margin-top: -400px;
    margin-left: 850px;
  }
  .contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
  }
  .contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  .contactForm .inputBox input,
  .contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
  }
  .contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
  }
  .contactForm .inputBox input:focus ~ span,
  .contactForm .inputBox input:valid ~ span
  .contactForm .inputBox textarea:focus ~ span,
  .contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
  }
  .contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
  }
  .container2{
    color: white;
    position: absolute;
    top: 100%;
    left: 9%;
  }
  .container2 h1{
    display: inline-block;
    font-size: 40px;
    border-bottom: 5px solid turquoise;
    margin-bottom: 15px;
    padding: 13px;
  }
.box{
  color: white;
  width: 100%;
  margin: 22px 0px;
  border-bottom: 2px solid turquoise;
}
.box input{
    background: none ;
    width: 75%;
    margin: 12px 0px;
    padding: 5px 10px;
    font-size: 20px;
    border:none;
    outline: none;
    color: white;
}
.box i{
    width: 25px;
    text-align: center;
}
.button{
    color: white;
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding: 10px 21px;
    border: 2px solid turquoise;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;
}
.button a{
    text-decoration: none;
}
.button a:visited{
    color: turquoise;
}
.button a:link{
    color: turquoise;
}
.button a:hover{
    color: turquoise;
}
.button:hover{
    color: turquoise;
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding: 10px 21px;
    border: 2px solid turquoise;
    border-radius: 10px;
    font-size: 18px;
    background: aliceblue;
    font-weight: bold;
}