* {
    margin: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  .navbar {
    width: 100%;
    height: 50px;
    background-color: black;
    position: sticky;
    top: 0;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;
  }
  
  .logo-container {
    flex: 1;
  }
  
  .logo {
    font-size: 30px;
    color: #4dbf00;
  }
  
  .menu-container {
    flex: 6;
  }
  
  .menu-list {
    display: flex;
    list-style: none;
  }
  
  .menu-list-item {
    margin-right: 30px;
  }
  
  .menu-list-item.active {
    font-size: large;
    font-weight: bold;
  }
  .menu-list-item.active a{
    text-decoration: none;
  }
  .menu-list-item.active a:link{
    color: white;
  }
  .menu-list-item.active a:visited{
    color: white;
  }
  .profile-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .profile-text-container {
    margin: 0 20px;
    font-weight: bold;
  }

  .profile-text{
    text-decoration: none;
  }

  .profile-text:link{
    color: white;
  }
  .profile-text:visited{
    color: white;
  }
  .profile-text:hover{
    color: yellow;
  }
  
  .profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    padding: 5px;
  }

    .sidebar {
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }
  
  .left-menu-icon {
    color: white;
    font-size: 25px;
    margin-bottom: 40px;
  }
  .container {
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white;
  }
  .header{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-left: 38%;
  }
  .theatre-list-wrapper {
    position: relative;
    overflow: hidden;
  }
  .theatre-list {
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
  }
  .theatre-list-item {
    margin-right: 30px;
    position: relative;
  }
  .theatre-item:hover .theatre-list-item-img {
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
  }
  
  .theatre-list-item:hover .theatre-list-item-title,
  .theatre-list-item:hover .theatre-list-item-desc,
  .theatre-list-item:hover .theatre-list-item-button {
    opacity: 1;
    text-decoration: none;
  }
  
  .theatre-list-item-img {
    transition: all 1s ease-in-out;
    width: 270px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .theatre-list-item-title {
    background-color: #333;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
  }
  .t-pic{
    height: 1500px;
    width: 900px;
    padding: 65px;
  }
  .t-pic img{
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    margin-left: 265px;
    margin-top: 20px;
    margin-right: 5px;
  }
  .button{
    color: white;
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding: 10px 32px;
    border: 2px solid turquoise;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;
}
.button a{
    text-decoration: none;
}
.button a:visited{
    color: turquoise;
}
.button a:link{
    color: turquoise;
}
.button a:hover{
    color: turquoise;
}
.button:hover{
    color: turquoise;
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding: 10px 21px;
    border: 2px solid turquoise;
    border-radius: 10px;
    font-size: 18px;
    background: aliceblue;
    font-weight: bold;
}